* {
  padding: 0;
  margin: 0;
  background: black;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#divOut {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}


#divIn {
  height: 50px;
  width: 300px;
  background: red;
}

img{
  width: 300px;
}