* {
    margin: 0;
    padding: 0;
  }

  #divOut {
    height: 500px;
    width: 100px;
    background: blue;
    overflow: auto;
    display: flex;
    margin-left: 50%;
    position: relative;
  }
  
  #divIn {
    height: 50px;
    width: 80px;
    background: rgba(255, 0, 0, 0.404);
    position: absolute;
    top: 0;
  }
  